body{
	background: #F5F5DC;
	font-family: cursive;
}

h2{
	color: #000000;
	font-size: 50 pt;
	font-family: cursive;
}
h3{
	color: #000000;
	font-size: 50 pt;
	font-family: cursive;
}
label{
	color: #000000;
	font-family: courier;
}

